@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");


:root {
  --primary-white: #ffff;
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255,255,255,0);
  --primary-red: #ef4035;
  --primary-hover-red: #ff3700;
}

body {
  font-family: "Roboto Condensed", sans-serif;
}




/******************* NAVBAR ********************/ 

.logo {
  width: 5.25rem;
}


/********************** NAV LINKS ********************/

nav a.nav.link{
  z-index: 1;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}


#nav-txt {
  color: var(--primary-white) !important;
  font-size: 25px;
}


.na-li {
  margin-left: 30rem;
}

nav ul li {
  text-transform: uppercase;
  z-index: 1;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  font-size: 25px;
  /* border-top: 0.7875rem solid var(--primary-dark); */
}


.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 3rem;
}


@media(max-width: 768px) {
  .navbar-brand {
    width: 7rem;
  }
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-top: 0.0875rem solid var(--primary-orange) ;
}

navbar-na  > li > a:hover {
  border-top: 0.0875rem solid var(--primary-orange) ;
}


/********************** HEADER ********************/

.header-wraper {
  position: relative;
  background: url(MAIN1.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  z-index: 1;
}

.main-info h1 {
  color: var(--primary-orange);
  text-transform: uppercase;
}


/**************  TYPED TEXT  *************/
.typed-text {
  font-size: 2rem;
  color: var(--primary-white)
}

@media(max-width: 768px) {
  .main-info h1 {
    font-size: 1.7rem !important;
  }
  .typed-text {
    font-size: 1.3rem !important;
  }
}

.btn-main-offer {
  border: 1px solid var(--primary-red);
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-white);
  margin: 2rem
}

.btn-main-offer:hover {
  text-decoration: none;
  background-color: var(--primary-hover-red);
  color: var(--primary-white);
  transition:  .2s ease-in-out;
}


/*************  PARTICLES JS ***************/
.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100ww;
  z-index: 1;
}

@media(max-width: 768px) {
  .particles-canvas {
    display: none;
  }
}


/*********************** CARD **********************/

h4 {
  font-family: "Script MT Bold";
  color: blue;

}

.card-info {
  text-align: center;
  
}

.card { 
  /* margin-right: 3rem; */
  margin-left: 5.5rem;
}

.card-intro {
  border-radius: 2rem;
  background-color: rgb(230, 230, 230);
  box-shadow: 2px 2px 40px 10px grey ;
}

.card-info > h5 {
  font-size: 25px;
}

.card-info > h2 {
  font-size: 35px;
  font-weight: bold;
}



/*********************** Gallery **********************/

h2 {
  font-family: "Rockabye";
  color: blue;
}


.gallery-btn {
  margin-top: 1rem;
  margin-bottom: 1rem;
}


.gallery-info {
  height: 70vh;
  background-color: rgb(230, 230, 230);
  text-align: center;
}

.card-gallery {
  margin-left: 2rem;
}

.gallery-intro {
  border-radius: 1.5rem;
  background-color: orange;
}

.gallery-info > .container > h6 {
  font-size: 20px;
}

.gallery-info > .container > h2 {
  font-size: 50px;
  padding-top: 1.5rem;
  font-weight: bold;
}


/********************** TESTIMONIAL ********************/

.test-info {
  background: url(bg.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  text-align: center;
  margin-top: 3rem;
}


.test-info > h3 {
  padding-top: 3rem;
  font-size: 25px;
  color: white;
}

.test-info > h1 {
  margin-bottom: 2rem;
  font-family: Old English Text MT;
  font-size: 80px;
  color: orange;
}

.call {
  padding-top: 1.5rem;
  background-color: rgb(230, 230, 230);
  height: 20vh;
  border-radius: 30px;
  font-size: 30px;
  text-align: center;
  box-shadow: 1px 1px 30px 5px grey ;
}

@media(max-width: 768px) {
  .call {
    width: 20%;
    height: 30vh;
    font-size: 20px !important;
  }
}



/************************  FOOTER ********************/

.footer-area {
  margin-top: 100px;
  padding: 70px 0;
  background: #1c2e6e;
  background: -moz-linear-gradient(left, #1c2e6e 0%, #000000 100%);
  background: -webkit-linear-gradient(left, #1c2e6e 0%, #000000 100%);
  background: linear-gradient(to right, #1c2e6e 0%, #000000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1c2e6e", endColorstr="#000000", GradientType=1);
  color: var(--primary-white);
  position: relative;
}

.main {
  width: 1200px;
  margin: 0 auto;
  
}

.footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  
}

.single-footer {
  width: 230px;
}

.single-footer ul {
  list-style: none; 
}

.single-footer ul li {
  margin-bottom: 10px;
  position: relative;
}

.single-footer ul li a {
  color: #fff;
  text-transform: capitalize;
  text-decoration: navajowhite;
  display: block;
  transition: all 0.3s ease;
}

.single-footer:first-child {
  width: 400px;
}

.single-footer h4 {
  text-transform: capitalize;
  font-size: 22px;
  margin-bottom: 20px;
  font-family: poppins;
  color: var(--primary-white)
}

.footer-social {
  margin-top: 20px;
}


.footer-social a {
  display: inline-block;
  height: 50px;
  width: 50px;
  background-color: white;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: blue;
  transition: all 0.5s ease;
}

.footer-social a:hover {
  color: #24262b;
  background-color: #fff;
} 

.copy {
  text-align: center;
  text-transform: capitalize;
  margin-top: 50px;
}

@media only screen and(max-width: 600px) {
  .main {
    width: 320px;
  }
  .single-footer:first-child, .single-footer{
    width: 100%;
    margin-bottom: 30px;
  }
}



/******************** ABOUT ME **************************/

.about-nav {
  height: 30vh;
}

.abt-txt {
  font-size: 40px;
  margin-left: 30rem;
  margin-top: 5rem;
}

.abt-nav {
  text-align: center;
  margin-left: 0rem;
}

@media(max-width: 768px) {
  .abt-txt {
    margin-top: 1;
    margin-left: 5rem;
  }
}

#about-info {
  margin-top: 5rem;
  border: none;
}

@media only screen and(max-width: 600px) { 
  .abt-nav {
    width: 320%;
  }
}



/******************** CONTACT ME **************************/

.con-card {
  margin-top: 7rem;
  border: none;
  box-shadow: 1px 1px 20px 5px grey ;
}


/******************** GALLERY **************************/

.gal-card {
 margin-bottom: 5rem;
}

.gal-text {
  text-align: center;
  font-family:cursive;
  margin-bottom: 5rem;
  margin-top: 5rem;
  font-size: 35px;
}

#gal-btn {
  width: 20%;
  height: 7vh;
  font-size: 25px;
}



/******************** WHATSAPP**************************/


/* for Desktop*/

.whatsapp_float {
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
        font-size:30px;
	box-shadow: 2px 2px 3px grey;
        z-index:100;
}

.whatsapp-icon {
	margin-top:16px;
}


/* for mobile */


@media screen and (max-width: 767px){
     .whatsapp-icon {
	 margin-top:10px;
     }
    .whatsapp_float {
        width: 40px;
        height: 40px;
        bottom: 20px;
        right: 10px;
        font-size: 22px;
    }
}


/**********************   ORDER ********************/

.order-txt {
  font-size: 30px;
  text-align: center;
  margin-top: 5rem;
  font-family: cursive;
}

